.accidental-toggle {
  width: 50px;
  height: 50px;
  font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.accidental-toggle button {
  width: 50px;
  height: 50px;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  font-size: 28px;
  cursor: pointer;
  padding: 0;
}

.accidental-toggle button:hover {
  background-color: #2980b9;
}
