@import "./Colors.css";
@import 'bootstrap/dist/css/bootstrap.min.css';

body {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  background: linear-gradient(135deg, #F7F8FA, #EAEFF3);
}

:root {
  --keyboardlinear-max-width: 500px;
  --keyboardcircular-max-width: 300px;
  --keyboardcircular-max-height: 200px;
  --buttons-container-max-width: 300px;
  --buttons-container-min-width: 150px;
  --buttons-max-width: 200px;
  --debug-border-color:  rgb(188, 188, 188);
}

.App {
  width: 100%;
  margin: 0 auto;
}

.grid-container {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3fr 3fr 4fr 2fr;
  /*default: portrait mode */
  grid-template-areas:
    "staff staff"
    "settings settings"
    "circular circular"
    "linear linear";
  /* grid-gap: 20px;*/
  overflow: hidden;
  > * {
    min-height: 0; /* Important for Firefox */
 /*   overflow: auto; /* Allow scrolling if content is too large */
  }
}

@media (orientation: landscape) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows:  2fr 2fr 2fr;
    grid-template-areas:
      "circular circular staff staff"
      "circular circular settings settings"
      "linear linear settings settings";
  }
}

.keyboardlinear-container {
  grid-area: linear;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.keyboardcircular-container {
  grid-area: circular;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  gap: 0.5rem;
  position: relative;
}

#svg-container {
  justify-self: start;
  align-self: center;
}

.settings-container {
  grid-area: settings;
  display: flex;
  gap: 1rem;
  overflow: auto;
  padding: 1rem;
  padding-right: 2rem;
}

.chord-display-container {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  display: grid;
  gap: 0.5rem;
  justify-items: end;
}

.notes-renderer-container {
  grid-area: staff;
  height: 120px !important;
  /*min-width: 700px;*/
  min-width: 100%;
  max-width: 100%;  
  border-bottom: 1px solid rgb(188, 188, 188);
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
  margin: 0px auto; /* Add vertical margin */
  padding-left: 20px;
  padding-right: 20px;
}

.btn, .btn-outline-secondary {
  max-height: 45px !important;
  border-radius: 4px !important;
}

.chord-display-container > *,
.notes-renderer-container > * {
  width: 100%;
}
