@import "./Colors.css";
@import 'bootstrap/dist/css/bootstrap.min.css';

body {
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
}

:root {
  --keyboardlinear-max-width: 500px;
  --keyboardcircular-max-width: 300px;
  --keyboardcircular-max-height: 200px;
  --buttons-container-max-width: 300px;
  --buttons-container-min-width: 150px;
  --buttons-max-width: 200px;
  --debug-border-color:  green;
}

.App {
  width: 100%;
  margin: 0 auto;
}

.grid-container {
  display: grid;
  height: 100vh; 
  width: 100vw; 
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 4fr 3fr 3fr;
  /*default: portrait mode */
  grid-template-areas:
    "linear linear"
    "circular circular"
    "settings chords"
    "settings staff";
  /* grid-gap: 20px;*/
  overflow: hidden;
  > * {
    min-height: 0; /* Important for Firefox */
 /*   overflow: auto; /* Allow scrolling if content is too large */
  }
}

@media (orientation: landscape) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 4fr;
    grid-template-areas:
      "linear linear settings chords"
      "circular circular settings staff";
  }
}

.keyboardlinear-container {
  grid-area: linear;
  width: 100%;
  /*aspect-ratio: min(var(--h2wratio), 1);
  max-height: calc(var(--keyboardlinear-max-width) * var(--h2wratio)); 
  /* max-width: var(--keyboardlinear-max-width); 
   /* margin: 0 auto; */  
}

.keyboardpieslice-container {
  grid-area: circular;
  width: 100%;
 /* max-width: var(--keyboardcircular-max-width);
/*
  position: relative;

  aspect-ratio: 1 / 1;
 
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;*/
}

.settings-container {
  grid-area: settings;
}

.chord-display-container {
  grid-area: chords;
  /*width: 100%;
 /* min-width: var(--buttons-container-min-width);
  max-width: var(--buttons-container-max-width);  */
 /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 /* margin: 20px auto; /* Add vertical margin */
}

.notes-renderer-container {
  grid-area: staff;
  /*width: 60%;*/
  
  min-width: var(--buttons-container-min-width);
  max-width: var(--buttons-container-max-width);  
  
  display: flex;
  flex-direction: column;
 /* justify-content: center;
  align-items: center;
 /* margin: 20px auto; /* Add vertical margin */
}

.mode-selector-container > *,
.presets-selector > *,
.chord-display-container > *,
.notes-renderer-container > * {
  width: 100%;
  /*min-width: var(--buttons-container-min-width);
  max-width: var(--buttons-container-max-width);  */
}

.chord-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    margin-bottom: 10px;
    width: 100%;
}

.interval-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    margin-bottom: 10px;
    width: 100%;
}

.keyboardlinear-container,
.keyboardpieslice-container,
.settings-container,
.chord-display-container,
.notes-renderer-container {
  height: 100%;
 /* overflow: auto;*/
}
