.chord-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  margin-top: 50px; /* Add top margin to create space */
}

.chord-name-description,
.chord-name-value,
.chord-notes {
  text-align: center;
  width: 100%;
}

.chord-name-description {
  font-size: 16px;
  margin: 0;
}

.chord-name-value {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.chord-notes {
  font-size: 20px;
  margin: 0;
}

.chord-display-mode-toggle {
  font-size: 12px;
  background-color: grey;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  padding: 0;
}
