.chord-display {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  margin-top: 50px; /* Add top margin to create space */
  gap: 0.5rem;
}

.chord-name-description,
.chord-name-value {
  text-align: center;
  width: 100%;
}

.chord-name-description {
  font-size: 1rem;
  margin: 0;
}

.chord-name-value {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}

