#keyboardcircular-settings {
    display: grid;
    height: 40px !important;
    min-height: 40px;
    max-height: 40px;
    padding: 0.5rem;
    box-sizing: border-box;

    grid-area: sidebar;

    grid-template-columns: 1fr auto;
    gap: 0;
    align-items: center;
    justify-content: space-between;
}

.monochrome-mode-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.monochrome-mode-label {
    margin-top: -1px;
    font-size: var(--settings-description-font-size);
}

.scale-preview-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.scale-preview-label {
  margin-top: -1px;
  font-size: var(--settings-description-font-size);
}



.clear-button, .play-scale-button {
  font-size: var(--settings-description-font-size);  
  min-width: 50px;
  max-width: 100px;
  border-radius: 5px;
  border: 1px solid var(--toggle-button-border);
  background-color: var(--toggle-button-background);
}

#major-minor-toggle {
    border: 1px solid var(--toggle-button-border); 
    background-color: var(--toggle-button-background);
    color: var(--toggle-button-text);
    background: none;
    cursor: pointer;
    padding: 3px;
    margin: 5px 0 0;
    z-index: 10;
    font-style: bold;
    font-size: var(--settings-button-font-size);
    border-radius: 10px;
  }
  
  .musical-key-selector {
    font-size: var(--settings-button-font-size);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .transpose-buttons-container {
    height: 100%;
    width: 2.5rem;
    display: flex;
    font-size: var(--settings-button-font-size);
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .transpose-button {
    border: 1px solid var(--toggle-button-border);
    background: var(--toggle-button-background);
    color: var(--toggle-button-text);
    font-size: var(--settings-button-font-size);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }