:root {
  --key-white: #ffffff;
  --key-black: #000000;
  --key-white-selected0: #7f7fff;
  --key-black-selected0: #3f3fff;
  --key-white-selected1: #4f4fdf;
  --key-black-selected1: #1f1fbf;
  --key-border: #cccccc;
  --note-text-on-white: #000000;
  --note-text-on-black: #ffffff;
}
