:root {
  --h2wratio: 0.25; /* Height to width ratio of the linear keyboard */
  --white-keys-per-2-octaves: 14;
}

.keyboardlinear {
  width: 100%;
  max-width: var(--keyboardlinear-max-width);
  aspect-ratio: calc(1 / var(--h2wratio));
  max-height: 100%;
  display: flex;
  position: relative;
}

.piano-key {
  position: absolute;
  align-items: flex-end;
  border: 1px solid var(--key-border-color);
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  font-size: 0.8rem;
  font-weight: bold;
  width: calc(100% / var(--white-keys-per-2-octaves));
  height: 100%;
  justify-content: center;
  padding: 0 5px; /* Added padding to center the text */
  z-index: 1;
}

.piano-key.short {
  align-items: center;
  font-size: 0.8rem;
  height: 60%;
  width: calc((100% / var(--white-keys-per-2-octaves)) * 0.7);
  justify-content: center;
  z-index: 2;
}

.piano-key.white.root-note,
.piano-key.black.root-note,
.piano-key.root-note {
  border: 2px solid var(--key-root-note-border);
}

/* White key states */
.piano-key.white {
  color: var(--serenity-note-text-on-white);
  background-color: var(--serenity-key-white);
}


.piano-key.white[data-state="highlighted"] {
  background-color: color-mix(in srgb, var(--serenity-key-white) 65%, var(--serenity-key-diatonic) 35%);
}

.piano-key.white[data-state="muted"] {
  background-color: var(--serenity-key-white);
  opacity: 0.7;
}

.piano-key.white.selected {
  background-color: var(--serenity-key-white-selected0);
}

.piano-key.white[data-state="highlighted"].selected {
  background-color: color-mix(in srgb, var(--serenity-key-white-selected0) 65%, var(--serenity-key-diatonic) 35%);
  opacity: 1.0;
}

.piano-key.white[data-state="muted"].selected {
  background-color: lightgrey;
  opacity: 0.5;
}

/* Black key states */
.piano-key.black {
  background-color: var(--serenity-key-black);
  color: var(--serenity-note-text-on-black);
}

.piano-key.black[data-state="highlighted"] {
  background-color: color-mix(in srgb, var(--serenity-key-black) 65%, var(--serenity-key-diatonic) 35%);
}

.piano-key.black[data-state="muted"] {
  background-color: var(--serenity-key-black);
  opacity: 0.7;
}

.piano-key.black.selected {
  background-color: var(--serenity-key-black-selected0);
}

.piano-key.black[data-state="highlighted"].selected {
  background-color: color-mix(in srgb, var(--serenity-key-black-selected0) 65%, var(--serenity-key-diatonic) 35%);
}

.piano-key.black[data-state="muted"].selected {
  background-color: var(--serenity-key-black);
  opacity: 0.5;
}

.piano-key.black span {
  transform: rotate(-90deg);
  transform-origin: center center;
  white-space: nowrap;
  margin-left: -25%;
}


