/* Container Layout */
.svg-container {
  /* Display and Box Model */
  display: flex;
  width: 100%;
  height: 100%;
  aspect-ratio: 1;
  padding: 5px;

  /* Grid Item */
  grid-area: circular-keyboard;
  justify-self: center;
  align-self: center;

  /* Flex Container */
  justify-content: center;
  align-items: center;
}

/* Top Bar */
#keyboardcircular-topbar {
  /* Display and Box Model */
  display: grid;
  height: 40px !important;
  min-height: 40px;
  max-height: 40px;
  padding: 0.5rem;
  box-sizing: border-box;

  /* Grid Item */
  grid-area: topbar;

  /* Grid Container */
  grid-template-columns: 1fr auto;
  gap: 0;
  align-items: center;
  justify-content: space-between;
}

#major-minor-toggle {
  border: 1px solid var(--serenity-border-color);
  background: none;
  cursor: pointer;
  padding: 3px;
  margin: 5px 0 0;
  z-index: 10;
  font-style: italic;
  font-size: 0.8em;
  border-radius: 10px;
  background-color: var(--serenity-key-white);
  color: var(--serenity-note-text-on-white);
}

/* Pie Slice Keys */
.pie-slice-key {
  cursor: pointer;
  transition: all 0.3s ease;
}

.pie-slice-key path {
  stroke: grey;
  stroke-width: 1px;
  border: 1px solid var(--serenity-border-color);
}

/* Hover States */
.pie-slice-key:hover path {
  opacity: 0.8;
}

/* Key Colors */
.pie-slice-key.white path {
  fill: var(--serenity-key-white);
}

.pie-slice-key.black path {
  fill: var(--serenity-key-black);
}

/* Selected States */
.pie-slice-key.white.selected path {
  fill: var(--serenity-key-white-selected0);
}

.pie-slice-key.black.selected path {
  fill: var(--serenity-key-black-selected0);
}

/* Text Styles */
.pie-slice-key text {
  font-size: 1.2em;
  font-weight: bold;
  pointer-events: none;
}

.pie-slice-key.white text {
  fill: var(--serenity-note-text-on-white);
}

.pie-slice-key.black text {
  fill: var(--serenity-note-text-on-black);
}

.viz-button {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius:10%;
  background: white;
  cursor: pointer;
  padding: 0;
  margin: 0;
  width: 40px;
  height: 40px;
  fill: black;
  stroke-width: 2px; 
}

.viz-button.selected {
  border: 1px;
  background: var(--serenity-icon-selected-background);
  fill: white;
}

.viz-button svg {
  stroke: black;
  stroke-width: 3px;
  stroke-opacity: 0.4;
  fill-opacity: 0.4;
  fill: none;
}

.viz-button.selected svg {
  stroke: white;
  stroke-opacity: 1;
  fill-opacity: 1;
}


