/* Common base styles for both circular and linear keys */
.key-base {
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: bold;
    transition: all 0.3s ease;
  }
  
  .key-base {
    border: 1px solid var(--serenity-border-color);
  }
  
  .key-base.root-note {
    border: 2px solid var(--key-root-note-border);
  }

  /* White Keys */
.key-base.white {
    color: var(--serenity-note-text-on-white);
    background-color: var(--serenity-key-white);
  }
  
  .key-base.white.selected {
    background-color: var(--serenity-key-white-selected);
  }
  
  /* Black Keys */
  .key-base.black {
    color: var(--serenity-note-text-on-black);
    background-color: var(--serenity-key-black);
  }
  
  .key-base.black.selected {
    background-color: var(--serenity-key-black-selected);
  }

  /* Highlighted Keys (Diatonic Notes) */
.key-base[data-scale="highlighted"] {
    color: var(--serenity-note-text-on-white);
    background-color: var(--serenity-key-white);
  }
  
  .key-base[data-scale="highlighted"].selected {
    background-color: var(--serenity-key-white-selected);
  }
  
  /* Muted Keys (Chromatic Notes) */
  .key-base[data-scale="muted"] {
    color: var(--serenity-note-text-on-black);
    background-color: var(--serenity-key-black);
  }
  
  .key-base[data-scale="muted"].selected {
    background-color: var(--serenity-key-black-selected);
  }