

.pie-slice-key {
  cursor: pointer;
  transition: all 0.3s ease;
}

.pie-slice-key:hover path {
  opacity: 0.8;
}

.pie-slice-key path {
  stroke: grey;
  stroke-width: 1px;
  border: 1px solid var(--serenity-border-color);
}

.pie-slice-key.white path {
  fill: var(--serenity-key-white);
}

.pie-slice-key.black path {
  fill: var(--serenity-key-black);
}

.pie-slice-key.white.selected path {
  fill: var(--serenity-key-white-selected0);
}

.pie-slice-key.black.selected path {
  fill: var(--serenity-key-black-selected0);
}

.pie-slice-key.white text {
  fill: var(--serenity-note-text-on-white);
}

.pie-slice-key.black text {
  fill: var(--serenity-note-text-on-black);
}

.pie-slice-key text {
  font-size: 1.2em;
  font-weight: bold;
  pointer-events: none;
}
