:root {
  --h2wratio: 0.25; /* Height to width ratio of the linear keyboard */
  --white-keys-per-2-octaves: 14;
}

.keyboardlinear {
  width: 100%;
  max-width: var(--keyboardlinear-max-width);
  aspect-ratio: calc(1 / var(--h2wratio));
  max-height: 100%;
  display: flex;
  position: relative;
}

.piano-key {
  position: absolute;
  align-items: flex-end;
  border: 1px solid var(--key-border-color);
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  font-size: 0.8rem;
  font-weight: bold;
  width: calc(100% / var(--white-keys-per-2-octaves));
  height: 100%;
  justify-content: center;
  padding: 0 5px; /* Added padding to center the text */
  z-index: 1;
}

.piano-key.short {
  align-items: center;
  font-size: 0.8rem;
  height: 60%;
  width: calc((100% / var(--white-keys-per-2-octaves)) * 0.7);
  justify-content: center;
  z-index: 2;
}

.piano-key.white.root-note,
.piano-key.black.root-note,
.piano-key.root-note {
  border: 2px solid var(--key-root-note-border);
}

.piano-key.white {
  color: var(--key-text-on-white);
  background-color: var(--key-white-default);
}

.piano-key.white.selected {
  background-color: var(--key-white-selected-primary);
}
 
.piano-key.black {
  background-color: var(--key-black-default);
  color: var(--key-text-on-black);
}

.piano-key.black.selected {
  background-color: var(--key-black-selected-primary);
}

.piano-key.black span {
  transform: rotate(-90deg);
  transform-origin: center center;
  white-space: nowrap;
  margin-left: -25%;
}


