:root {
  --h2wratio: 0.25; /* Height to width ratio of the linear keyboard */
  --b2wKeyRatio: 0.7; /* Black to white key width ratio */
  --wKeysPer2Octaves: 14; /* 14 white keys fit into the full width */
  --bKeysPer2Octaves: calc(var(--wKeysPer2Octaves) /var(--b2wKeyRatio)); /* 20 black keys fit into the full width */
}

.keyboardlinear {
  width: 100%;
  max-width: var(--keyboardlinear-max-width);
  aspect-ratio: calc(1 / var(--h2wratio));
  max-height: 100%;
  display: flex;
  position: relative;
}

.piano-key {
  border: 1px solid var(--key-border);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 0.8em;
  font-weight: bold;
  padding: 0 5px; /* Added padding to center the text */
}

.piano-key.white.root-note {
  border: 2px solid var(--root-note-highlight);
}

.piano-key.black.root-note {
  border: 2px solid var(--root-note-highlight);
}

.piano-key.white {
  width: calc(100% / var(--wKeysPer2Octaves)); /* 14 white keys */
  height: 100%;
  z-index: 1;
  color: var(--serenity-note-text-on-white);
  background-color: var(--serenity-key-white);
}


.piano-key.white.selected {
  background-color: var(--serenity-key-white-selected0);
}

.piano-key.black {
  width: calc(100% / var(--bKeysPer2Octaves));
  height: 60%;
  margin-left: calc(-100% / var(--bKeysPer2Octaves)  / 2);
  margin-right: calc(-100% / var(--bKeysPer2Octaves)  / 2);
  margin-top: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 5px;
  background-color: var(--serenity-key-black);
  color: var(--serenity-note-text-on-black);
}

.piano-key.black.selected {
  background-color: var(--serenity-key-black-selected0);
}

.piano-key.black span {
  transform: rotate(-90deg);
  transform-origin: center center;
  white-space: nowrap;
  margin-left: -25%;
}

.piano-key.root-note {
  border: 2px solid var(--root-note-highlight);
}


