

.pie-slice-key {
  cursor: pointer;
  transition: all 0.3s ease;
}

.pie-slice-key:hover path {
  opacity: 0.8;
}

.pie-slice-key.white path {
  fill: var(--key-white);
  stroke: grey;
  stroke-width: 1px;
}

.pie-slice-key.black path {
  fill: var(--key-black);
  stroke: grey;
  stroke-width: 1px;
}

.pie-slice-key.white.selected path {
  fill: var(--key-white-selected0);
}

.pie-slice-key.black.selected path {
  fill: var(--key-black-selected0);
}

.pie-slice-key.white text {
  fill: var(--note-text-on-white);
}

.pie-slice-key.black text {
  fill: var(--note-text-on-black);
}

.pie-slice-key text {
  font-size: 13px;
  font-weight: bold;
  pointer-events: none;
}
