/* .notes-renderer-container => already defined in App.css */

.staff-container {
  width: 60%;
  max-width: var(--buttons-container-max-width);
  padding: 20% 20%; /* Use padding instead of margin to avoid interference */
}
