.presets-selector {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; 
    max-width: var(--buttons-container-max-width);
    box-sizing: border-box;
    padding: 0 10px; /* Add some padding on the sides */
    margin: 0 auto;
}

h3 {
    margin: 0 0 10px 0;
    width: 100%;
    text-align: center;
}

.chord-grid,
.interval-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    margin-bottom: 10px;
    width: 100%;
}

.interval-column {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex: 1 1 calc(50% - 2.5px);
    max-width: calc(50% - 2.5px);
}

.chord-grid button {
    width: 20%; 
    height: 25px;
    font-size:  12px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.interval-grid button {
    width: 45%; 
    height: 25px;
    font-size: 12px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chord-grid button:hover,
.interval-grid button:hover {
    background-color: #e0e0e0;
}

.chord-grid button.selected-preset,
.interval-grid button.selected-preset {
    background-color: #4CAF50;
    color: white;
}

.inversion-buttons {
    display: flex;
    gap: 5px;
    align-items: center;
    margin-top: 5px;
    width: 70%;
    max-width: var(--buttons-container-max-width);
    justify-content: center;
}

.inversion-buttons button {
    width: 25px;
    height: 25px;
    font-size: 12px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    padding: 0;
}

.inversion-buttons button:hover {
    background-color: #e0e0e0;
}

.inversion-buttons button.selected-inversion {
    background-color: #2196F3;
    color: white;
}
