.chord-display {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  width: 100%;
  margin-top: 0px;
  gap: 0.5rem;
}

.chord-name-description {
  font-size: var(--settings-font-size);
  text-align: left;
  margin-left: 5px;
  margin-right: 5px;
}

.chord-name-value {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: left;
  margin-left: 5px;
}

